/* @import url('https://fonts.cdnfonts.com/css/monument-extended'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'MonExt';
  src: local('MonumentExtended'),
       url('./fonts/MonumentExtended.woff') format('woff');
}

:root {
  --ex-pro: MonExt;
  --mont-pro: 'Montserrat', sans-serif;

  --bg: #121212;
  --icon-color: #A6A6A6;
  --icon-selector: #2D2D2D;
  --main-des: #181818;

  --theme-border: solid #2F2F2F 1px;

  --tab-des: #1A1A1A;
}

* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
}

html {
  overflow-y: hidden;
}

body {
  background-color: var(--bg) !important;
  /* overflow-x: hidden; */
}

.sidebar {
  height: calc(100vh - 90px);
  max-height: 100vh;
  width: 86px;
  border-right: var(--theme-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0px 45px 0px;
  position: fixed;
}

.sidebar img {
  width: 30px;
  /* height: 20px; */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.profile {
  border-radius: 100px;
  height: 30px !important;
  width: 30px !important;
}

.sidebar ion-icon {
  font-family: var(--mont-pro);
  color: var(--icon-color);
  font-size: 20px;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  transition: 300ms ease-out;
}

.sidebar ion-icon:hover {
  transition: 100ms ease-in;
  background-color: var(--icon-selector);
}

.controller {
  position: relative;
  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start; */
}

@keyframes toolsip {
  from {
    opacity: 0%;
    transform: scale(40%) translateX(-90px);
  }
  to {
    opacity: 100%;
    transform: scale(100%) translateX(0px);
  }
}

.controller .tooltip {
  display: none;
  position: absolute;
  width: 100px;
  right: -120px;
  top: 10px;
  transition: 100ms ease-in;
  color: var(--icon-color);
  background-color: transparent;
  animation: toolsip 0.2s;
  font-family: var(--mont-pro);
}

.controller:hover .tooltip {
  transition: 100ms ease-in;
  display: block;
  /* background-color: var(--icon-selector); */
}

.controller-selected ion-icon {
  background-color: var(--icon-selector);
}

.mf {
  padding-left: 12vw;
  padding-right: 6vw;
  padding-top: 40px;
  width: 56vw;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.sf-superframe {
  flex: 1;
  height: 100%;
  border-left: var(--theme-border);
  position: fixed;
  right: 0;
  width: 26vw;
}

@media (max-width: 1155px) {
  .mf {
    width: calc(100% - 12vw);
    padding-left: 15vw;
  }

  .sf-superframe {
    display: none;
  }
}

.mf ion-icon {
  color: white;
}

.mf-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.mf-header h3 {
  font-family: var(--ex-pro);
  color: white;
  font-weight: lighter;
}

.mf-header ion-icon {
  font-size: 25px;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  transition: 200ms ease-out;
}

.mf-header ion-icon:hover {
  background-color: var(--icon-selector);
  transition: 200ms ease-in;
}

.tabs {
  display: flex;
  margin-top: 10px;
  margin-bottom: 36px;
  flex-direction: row;
}

.tab {
  background-color: var(--tab-des);
  color: var(--icon-color);
  font-family: var(--mont-pro);
  letter-spacing: -1px;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  margin-right: 15px;
  border-radius: 100px;
  width: fit-content;
  cursor: pointer;
  transition: 100ms ease-in;
}

.tab:hover {
  background-color: #333333;
  transition: 100ms ease-in;
}

.highlighted {
  background-color: white;
  color: var(--icon-selector);
  /* font-weight: 500; */
}

.highlighted:hover {
  background-color: white;
  color: var(--icon-selector);
}

.mf hr {
  border: none;
  height: 1px;
  background-color: #2F2F2F;
}

@media (max-width: 640px) {
  .mf {
    padding-left: 6vw !important;
    padding-right: 6vw !important;
    height: 100vh;
    border-right: none;
    /* width: calc(100% - 8vw); */
  }

  .App {
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
    width: calc(100vw - 50px);
    height: 80px;
    border-right: none;
    border-top: var(--theme-border);
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px 25px 0px 25px;
    background-color: #12121269;
    backdrop-filter: blur(30px);
  }

  .links {
    column-gap: 30px;
    flex-direction: row;
  }

  .tabs {
    display: grid;
    justify-content: start;
    grid-template-columns: auto auto;
    row-gap: 10px;
    display: none;
  }

  /* .tab {
    font-size: 14px;
  } */

  .tooltip {
    display: none !important;
  }
}

.sf {
  /* flex: 0.3; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  height: 100vh;
  /* background-color: rgb(38, 27, 27); */
  /* position: fixed; */
  /* right: 0; */
  /* width: min-content; */
  /* flex: 0.1; */
}

.sf-search {
  background: #1C1C1C;
  border: 1px solid #2F2F2F;
  border-radius: 14px;
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: 14px;
  margin-top: 24px;
}

.sf-search ion-icon {
  color: var(--icon-color);
  margin-right: 8px;
  font-size: 18px;
}

.sf-search input {
  background-color: transparent;
  border: none;
  font-family: var(--mont-pro);
  font-weight: 500;
  outline: none;
  color: var(--icon-color);
  width: 100%;
}

.sf .info {
  display: flex;
  flex-direction: row;
  column-gap: 14px;
  align-items: center;
  justify-content: start;
  width: 80%;
  margin-top: 20px;
}

.sf .info img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.sf .info .info-content {
  color: white;
}

.info-content h3 {
  font-family: var(--ex-pro);
  font-weight: lighter;
}

.info-content span {
  color: var(--icon-color);
  font-family: var(--mont-pro);
  letter-spacing: -1px;
  font-size: 14px;
}

.wrapper {
  width: 80%;
  margin-top: 20px;
}

.wrapper p {
  font-family: var(--ex-pro);
  font-weight: lighter;
  color: var(--icon-color);
  font-size: 12px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width: 90%; */
  height: 60px;
  background-color: var(--main-des);
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
}

.footer h3 {
  font-family: var(--ex-pro);
  font-weight: lighter;
  color: white;
  margin-left: 10px;
}

.footer span {
  color: var(--icon-color);
  font-size: 12px;
  font-family: var(--mont-pro);
  font-weight: 500;
  opacity: 0.5;
  margin-right: 10px;
}

.tl {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.tl-tp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: 12px;
  margin-top: 12px;
}

.tl-tp img {
  width: 240px;
  height: 300px;
  object-fit: cover;
  border-radius: 7px;
  margin-right: 20px;
}

.tl-tp-content {
  display: flex;
  flex-direction: column;
}

.tl-tp-content h2, .tl-tp-content h3 {
  font-family: var(--ex-pro);
  font-weight: lighter;
}

.tl-tp-content h2 {
  color: white;
  font-size: 30px;
}

.tl-tp-content h3 {
  color: var(--icon-color);
  font-size: 20px;
}

.tl-tp-content p {
  margin-top: 10px;
  font-family: var(--mont-pro);
  font-size: 15px;
  color: var(--icon-color) !important;
  line-height: 23px;
  font-family: var(--mont-pro) !important;
  font-weight: 500 !important;
}

.mf {
  max-height: 100vh;
  overflow-y: scroll;
}

.tl p {
  font-family: var(--ex-pro);
  font-weight: lighter;
  color: white;
  letter-spacing: normal;
  font-size: 16px;
  margin-bottom: 30px;
}

.year {
  width: 2px;
  height: 85px;
  border-radius: 100px;
  background-color: #333333;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.circtop {
  background-color: #333333 !important;
  width: 15px;
  height: 15px;
  border-radius: 100px;
}

.year-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.year-start span {
  color: var(--icon-color);
  margin-left: 10px;
  font-family: var(--mont-pro);
}

.special-year {
  margin-left: 6.5px;
  margin-bottom: 4px;
  height: 40px;
}

@media (max-width: 640px) {
  .tl-tp {
    flex-direction: column;
    row-gap: 24px;
  }

  .tl-tp img {
    width: 100%;
  }

  .tl p {
    margin-bottom: 0px;
  }

  .year-start {
    margin-top: 20px;
  }
}

.cp, .ts {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.cp p, .ts p {
  font-family: var(--ex-pro);
  font-weight: lighter;
  color: white;
  letter-spacing: normal;
  font-size: 16px;
  margin-bottom: 30px;
}

.ts-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  font-family: var(--ex-pro);
  margin-bottom: 20px;
}

.ts-card img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-right: 15px;
  object-fit: cover;
}

.ts-card-content h3 {
  color: white;
}

.ts-card span {
  color: grey;
  font-family: var(--mont-pro) !important;
}

.ts-card a {
  color: rgb(139, 139, 241);
  text-decoration: none;
  font-family: var(--mont-pro);
  font-weight: 600;
  letter-spacing: -1px;
}